@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  /*Hamburger Menu*/
  .hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0;
    left: 0;
    /*  background: #fff; */
    transform: rotate(0);
    /*all transitional properties*/
    transition: all 0.5s;
    background: black;
  }

  .hamburger-middle {
    transform: translateY(7px);
  }

  .hamburger-bottom {
    transform: translateY(14px);
  }

  .open {
    transform: rotate(90deg);
  }

  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
    background: black;
    border: black;
  }

  .open .hamburger-middle {
    display: none;
  }

  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
    background: black;
    border: black;
  }
  @media (max-width: 800px) {
    .mobile-menu {
      @apply absolute bottom-0 left-0 top-0 z-20;
    }
  }
  .form-1 {
    @apply h-12 flex-1 rounded border border-[#c8c8df] bg-slate-200 px-3 text-black placeholder-slate-500 focus:border-[#7b7b82] focus:outline-none;
  }

  .btn {
    @apply h-12 w-24 cursor-pointer  rounded border border-transparent bg-slate-200 text-lg text-black transition hover:bg-[#a1a5ae] disabled:cursor-default disabled:bg-white/5 disabled:text-black/20;
  }
}
